<div id="footer">
	<div class=wrapper>
		<div class="service">
			<div class="service-item">
				<h3>购物保障</h3>
				<a href="#" target="_blank">官方认证商家</a>
				<a href="#" target="_blank">官方认证商家</a>
				<a href="#" target="_blank">官方认证商家</a>
				<a href="#" target="_blank">官方认证商家</a>
			</div>
			<div class="service-item">
				<h3>购物保障</h3>
				<a href="#" target="_blank">官方认证商家</a>
				<a href="#" target="_blank">官方认证商家</a>
				<a href="#" target="_blank">官方认证商家</a>
				<a href="#" target="_blank">官方认证商家</a>
			</div>
			<div class="service-item">
				<h3>购物保障</h3>
				<a href="#" target="_blank">官方认证商家</a>
				<a href="#" target="_blank">官方认证商家</a>
				<a href="#" target="_blank">官方认证商家</a>
				<a href="#" target="_blank">官方认证商家</a>
			</div>
			<div class="service-item">
				<h3>购物保障</h3>
				<a href="#" target="_blank">官方认证商家</a>
				<a href="#" target="_blank">官方认证商家</a>
				<a href="#" target="_blank">官方认证商家</a>
				<a href="#" target="_blank">官方认证商家</a>
			</div>
			<div class="service-item">
				<h3>购物保障</h3>
				<a href="#" target="_blank">官方认证商家</a>
				<a href="#" target="_blank">官方认证商家</a>
				<a href="#" target="_blank">官方认证商家</a>
				<a href="#" target="_blank">官方认证商家</a>
			</div>
		</div>
		<div class="infos">
			<div class="about">
				<a href="#" target="_blank">关于我们</a>
				<a href="#" target="_blank">关于我们</a>
				<a href="#" target="_blank">关于我们</a>
				<a href="#" target="_blank">关于我们</a>
			</div>
			<div class="copyright">

			</div>
		</div>
	</div>
</div>